body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif; 
    /* background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );  */
     background: #f8f8f8; 
    /* background:#fff; */
   
    
   ;
  }  

 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  


     .about {
    width: 100vw;
    height: calc(100vh - 60px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("");
    background-repeat: no-repeat;
    object-fit: cover;
  }   

 
  .aboutWrapper {
    width: 80%;
  }
  .aboutTitle {
    font-size: 38px;
    font-weight: 550;
    margin-bottom: 20px;
    color: rgb(54, 53, 53);
  }
  h4 {
    font-size: 22px;
    line-height: 30px;
    text-decoration: underline;
  }
  
  p {
    line-height: 28px;
    font-size: 17px;
     color: rgb(54, 53, 53); 
  
  }
  p span {
    font-weight: bold;
    color: #000;
 
  }
  h2 {
    margin: 20px 0;
  }
  button {
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    background-color: crimson;
    cursor: pointer;
  }
   
  .boxcontainer3{
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 10%;
    background: #fff;
    border-radius: 20px;
    left: 10%;

    
  } 

  .imgclass3{
  position:absolute;
  width: 50%;
  height: auto;
  right: 5%;
  top:10%;
  }