body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif; 
     background: #f8f8f8; 
    
   
    
   ;
  }  

 @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  


     .about {
    width: 100vw;
    height: calc(100vh - 60px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("");
    background-repeat: no-repeat;
    object-fit: cover;
  }   

 
  .aboutWrapper {
    width: 80%;
  }
  .aboutTitle {
    font-size: 38px;
    font-weight: 550;
    margin-bottom: 20px;
    color: rgb(54, 53, 53);
  }
  h4 {
    font-size: 22px;
    line-height: 30px;
    text-decoration: underline;
  }
  
  p {
    line-height: 28px;
    font-size: 17px;
     color: rgb(54, 53, 53); 
  
  }
  p span {
    font-weight: bold;
    color: #000;
 
  }
  h2 {
    margin: 20px 0;
  }
  button {
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    background-color: crimson;
    cursor: pointer;
  }
   
  .boxcontainer3{
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 10%;
    background: #fff;
    border-radius: 20px;
    left: 10%;

    
  } 

  .imgclass3{
  position:absolute;
  width: 50%;
  height: auto;
  right: -5%;
  top:10%;
  }